[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
keras = "*"
pillow = "*"
numpy = "*"
scikit-image = "*"
nltk = "*"
scikit-learn = "*"
gensim = "*"
python-telegram-bot = "*"
tensorflow = {file = "https://github.com/bitsy-ai/tensorflow-arm-bin/releases/download/v2.4.0/tensorflow-2.4.0-cp37-none-linux_armv7l.whl"}

[dev-packages]

[requires]
python_version = "3.7"
